
      /* Form */
      form {
        margin: 80px 40%;
        border: 2px solid #696969;
        border-radius: 35px;
        background-color:  white;
      }


      /* Button */
      button {
        background-color:  #00cc66;
        color: white;
        padding: 14px 20px;
        margin: 15px ;
        border: none;
        outline: none;
        border-radius: 35px;
        cursor: pointer;
        width: 100px;
      }


      /* Reset Button */
      .resetbtn {

        background-color: #e62e00;
        color: white;

      }


      /* Add a hover effect for buttons */
      button:hover {
        opacity: 0.7;
      }


      /* Inputs for text and email */
      input[type=text], input[type=email] {
        width: 300px;
        padding: 12px 20px;
        outline: none;
        margin: 7px;
        border: 2px solid gray;
        border-radius: 10px;
        box-sizing: border-box;
      }

      /* Inputs for textarea */
      textarea {
        font-family: sans-serif;
        font-size: 13px;
        width: 300px;
        height: 200px;
        padding: 12px 20px;
        outline: none;
        margin: 7px;
        border: 2px solid gray;
        border-radius: 10px;
        box-sizing: border-box;
      }

      /* Add padding to containers */
      .main_container {
        padding: 45px;
      }

      /* Add padding and style to paragraph tag */
      p {
        font-weight: bold;
        color: black;
        padding-left: 10px;
      }
